/*!
 * Start Bootstrap - Modern Business (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

/* Global Styles */

html,
body {
    height: 100%;
}

body {
    padding-top: 60px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}

/* Home Page Carousel */

header.carousel {
    height: 50%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

/* 404 Page Styles */

.error-404 {
    font-size: 100px;
}

/* Pricing Page Styles */

.price {
    display: block;
    font-size: 50px;
    line-height: 50px;
}

.price sup {
    top: -20px;
    left: 2px;
    font-size: 20px;
}

.period {
    display: block;
    font-style: italic;
}

/* Footer Styles */

footer {
    margin: 50px 0;
}

/* Responsive Styles */

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
}

@media {
    .navbar {
      min-height: 60px;
      font-weight: 700;
      text-transform: uppercase;
      background-color:#ccc;
    }

    .navbar-brand,
    .navbar-nav li a {
        line-height: 60px;
        height: 60px;
        padding-top: 0;
    }

    .navbar-brand {
      float: left;
      height: 60px;
      padding: 5px 5px 5px 10px;
    }
    
    .nav > li:hover{
        background-color:#00969D;
    }

    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;  /*Sets the text hover color on navbar*/
    }

    .navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a {
    color: #00969D;  /*Sets the text hover color on navbar*/
    }

    .carousel-caption {
        top: 50%;
        transform: translateY(-50%);
        bottom: initial;
    }

    .page-header{
        color:#00969D;
    }

    .carousel-indicators li {
      display: inline-block;
      width: 30px;
      height: 10px;
      margin: 1px;
      text-indent: -999px;
      cursor: pointer;
      background-color: #000 \9;
      background-color: rgba(0, 0, 0, 0);
      border: 1px solid #fff;
      border-radius: 0px;
    }

    .carousel-indicators .active {
      width: 32px;
      height: 12px;
      margin: 0;
      background-color: #00969D
    }

    .panel-heading{
      background-color:#ccc;
    }

    .btn:hover{
     background-color: #00969D;
     color:#FFFFFF;
    }

    .breadcrumb{
        background-color: #ddd;
    }

    footer{
        background-color: #eee;
        margin: 50px 0 0 0; /* or just use:  margin-top: 50px;*/
    }
    
}